<!--
       Filename: footer.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->

<nav class="navbar fixed-bottom  bg-dark text-light">
    <div class="container-fluid">
      <h6 id="copyright">&copy; Copyright 2022</h6>
    </div>
  </nav>